<!DOCTYPE html>
<html>

<head>
    <title>lottery-admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/js/jquery-2.2.0.min.js"></script>
    <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="/static/js/lottery/admin/login.js?v=3"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row-fluid">
            <h1 class="text-center">
                管理员登录&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;
            </h1>
            <hr>
        </div>
        <div class="row-fluid">
            <div class="col-md-6 col-md-offset-4">
                <div id="addItem">
                    <form action="/v1/admin/login" method="POST">
                        <div class="form-inline">
                            <label for="item">账号 : </label>
                            <input type="item" class="form-control" name="name" placeholder="">
                        </div>
                        <br>
                        <div class="form-inline">
                            <label for="percent">密码 : </label>
                            <input type="password" class="form-control" name="password" placeholder="">
                        </div>
                        <br>
                        <div>
                            <button type="submit" class="btn btn-primary col-md-offset-2">登录</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>