
.notice {
    margin-top: 50px;
    margin-left: 50px;
    width: 300px;
    height: 200px;
    float: left;
}

.notice textarea{
    width: 100%;
    height: 100%;
    resize: none;
    background: transparent;
    font-size:20px; color:#F00;
}

.prompt {
    margin-top: 50px;
    margin-left: 100px;
    width: 250px;
    height: 150px;
    float: left;
}
.prompt textarea {
    width: 100%;
    height: 80px;
    resize: none;
    background: transparent;
    font-size:20px; color:rgb(250, 33, 98);
}

#lottery {
    margin-left: 90px;
    width: 500px;
    height: 480px;
    float: left;
}